asgiref
cffi
confusable-homoglyphs
cryptography
Django
django-allauth
django-registration
dotenv
fido2
gunicorn
packaging
pycparser
python-dotenv
sqlparse
psycopg2-binary
psycopg
qrcode
micawber
requests
django-webpush
icalendar
sentry-sdk[django]
yt-dlp