{% load i18n %}
{% load allauth %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eversync</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'index-style.css' %}" ">
    <link rel="stylesheet" href="{% static 'login-style.css' %}" ">
    {% block scripts %}
        {% include "sentry_replay.html" %}
    {% endblock %}

    
</head>
    
</head>
<body>
    <div class="header">
        <div class="header-content">
            <a href="/"><img src="{% static 'eversync2.png' %}" alt="Eversync Logo" style="height: 80px; margin-right: 10px; display: flex; align-items: center; gap: 5px;"></a>
            <a href="/" class="logo" >eversync</a>
            <div class="nav-links" style="position: relative;">
                <div class="dropdown">
                    <button class="dropdown-toggle" style="background: none; border: none; color: white; font-size: 16px; cursor: pointer;">
                        Welcome, {{ user.username }} <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-menu" style="display: none; position: absolute; right: 0; background-color: #333; border: 1px solid #444; border-radius: 4px; padding: 10px; width: 184px;">
                        
                        <form action="{% url 'manage' %}" method="post" style="margin: 0;">
                            {% csrf_token %}
                            <button type="submit" class="logout-button" style="background-color: transparent; color: white; border: none; cursor: pointer;">Manage Account</button>
                        </form>
                        
                        <form action="{% url 'logoutz' %}" method="post" style="margin: 0;">
                            {% csrf_token %}
                            <button type="submit" class="logout-button" style="background-color: transparent; color: white; border: none; cursor: pointer;">Log Out</button>
                        </form>
                        <button id="themeToggle" class="logout-button" style="background-color: transparent; color: white; border: none; cursor: pointer;">Toggle Dark Mode</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="welcome-box" style="width: 50%; margin: 0 auto;">
            {% block content %}
                {% element h1 %}
                    {% translate "Recovery Codes" %}
                {% endelement %}
                {% element p %}
                    {% blocktranslate %}You are about to generate a new set of recovery codes for your account.{% endblocktranslate %}
                    {% if unused_code_count %}
                        {% blocktranslate %}This action will invalidate your existing codes.{% endblocktranslate %}
                    {% endif %}
                    {% blocktranslate %}Are you sure?{% endblocktranslate %}
                {% endelement %}
                {% url 'mfa_generate_recovery_codes' as action_url %}
                {% element form method="post" action=action_url no_visible_fields=True %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ form.as_p }}
                    {% endslot %}
                    {% slot actions %}
                        {% setvar tags %}
                            {% if unused_code_count %}
                                danger
                            {% else %}
                            {% endif %}
                        {% endsetvar %}
                        {% element button type="submit" tags=tags %}
                            {% trans "Generate" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endblock content %}
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const toggle = document.querySelector('.dropdown-toggle');
    const menu = document.querySelector('.dropdown-menu');
    toggle.addEventListener('click', function () {
        menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    });
});

const toggle = document.getElementById("themeToggle");
        const root = document.documentElement;

        if (localStorage.getItem("theme") === "dark") {
        root.classList.add("dark");
        }

        toggle.addEventListener("click", () => {
        root.classList.toggle("dark");
        if (root.classList.contains("dark")) {
            localStorage.setItem("theme", "dark");
        } else {
            localStorage.setItem("theme", "light");
        }
        });
</script>
</body>
</html> 